{% extends "base.html" %}

{% block title %}{{ term.name | title }} — {{ config.title }}{% endblock %}

{% block content %}
<section class="blog-list">
    <div class="blog-list__inner">
        <h1>#{{ term.name }}</h1>
        {% for page in term.pages %}
        <a href="{{ page.permalink }}" class="blog-post-card">
            <span class="blog-post-card__date">{{ page.date | date(format="%B %d, %Y") }}</span>
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
